---
import Base from "../../layouts/Base.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("blog");

  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}

const post = Astro.props;
const { Content } = await post.render();
---

<Base title={post.data.title}>
  <h1 class="text-4xl font-bold text-indigo-100 mb-4">
    {post.data.title}
  </h1>
  
  <Content />
</Base>
