---
import Base from "../layouts/Base.astro";
import { Counter as ReactCounter } from "../components/Counter.tsx";
import SvelteCounter from "../components/Counter.svelte";
---

<Base title="Astro stuff">
  <h1 class="text-3xl">Hello there!</h1>
  <SvelteCounter client:idle />
</Base>
