---
import Base from "../layouts/Base.astro";
---

<Base title="Astro stuff">
  <h1 class="text-8xl font-bold text-indigo-100 mb-4">
    Oh look, it's another JS framework
  </h1>
  <p>Or is it?</p>
</Base>
