---
import Base from "../layouts/Base.astro";

/* JS run on server */
---

<Base title="Astro stuff">
  <div class="flex flex-col justify-center h-[65vh]">
    <h1 class="text-7xl font-bold text-indigo-100 mb-4 tracking-wide drop-shadow-glow">
      Oh look, it's another JS framework
    </h1>
    <p class="text-2xl mt-5 text-rose-400 ml-1">or why Astro is great for static content</p>
  </div>
</Base>


<style>
  /* Custom scoped styles */
</style>

<script>
  /* Client side JS */
</script>