---
const { title, description, image } = Astro.props
---


<div class="flex gap-3 my-12 items-center">
    <div class="w-1/3 min-h-full relative self-stretch bg-white rounded-xl overflow-hidden">
        <img src={image} alt={title} class="absolute h-full w-full">        
    </div>

    <div class="px-8 py-1 w-2/3">
        <p class="text-4xl font-bold mb-4 text-rose-400">{title}</p>
        <p>{description}</p>
    </div>
</div>
