<header class="flex justify-between">
  <a href="/" title="Home" class="underline">Home</a>
  <nav class="flex gap-2">
    <a href="md-page" title="Md page" class="underline">Md page</a>
  </nav>
</header>
