<header class="flex justify-between">
  <a href="/" title="Home" class="text-indigo-400">Home</a>
  <nav class="flex gap-4">
    <a href="md-page" title="MD page" class="text-indigo-400"> Markdown page</a>
    <a href="frameworks" title="Frameworks" class="text-indigo-400">
      Frameworks
    </a>
  </nav>
</header>
