---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

const { title, frontmatter } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <title>{title || frontmatter?.title || "Astro stuff"}</title>
  </head>
  <body class="bg-gradient-to-t from-indigo-950 to-slate-900">    
    <div
      class="text-slate-100 min-h-screen grid grid-rows-[auto_1fr_auto] py-10 gap-16 mx-auto w-8/12 leading-relaxed tracking-wide z-10 relative bg-grid"
    >
      <Header />
      <main class="h-full">
        <slot />
      </main>
      <Footer />

    </div>
  </body>
</html>
